body {
    background-color: rebeccapurple;
   justify-content: center;
   display: flex;
    
   
}
.ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    animation: jump 1s infinite ease-in-out;
}
.music {
    align-items: center;
    
}
audio{
    align-items: center;
}


@keyframes jump {
    0% , 100% {
        transform: translateY(0);

    }
    50%{
        transform: translateY(-200px);
    }
}
#square{
    width: 50px;
    height: 50px;
    background-color: mediumslateblue;
    position: absolute;
    top: 100px;
    left: 0;
    border-radius: 18px
}